/* Reset and global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

html {
  box-sizing: border-box;
}

/* Body Styles */
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 3.8rem;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #001427;
}

/* Navigation Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001427;
  list-style: none;
  padding: 20px;
}

.logo {
  font-size: 20px;
}

.logo a {
  color: #F4D58D;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #F4D58D;
  text-decoration: none;
}

.nav-links a:hover {
  color: #9C3848;
}

/* Hamburger Menu Styles */
.menu-icon {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative;
}

.menu.active {
  display: flex;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
}

/* Dropdown Menu Styles */
.dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  background-color: #F4D58D;
  min-width: 8em;
  border: #8D0801 2px solid;
  margin: 0;
  padding: 0;
  margin-top: 0.6rem;
}

.dropdown {
  height: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Hamburger Menu Animation */
#menu-toggle:checked + .menu {
  display: flex;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked + .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media Queries */

/* Shrink menu as screen shrinks until screen gets to hamburger menu */
@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #001427;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .nav-links li {
    margin: 10px 0;
  }

  input[type=checkbox]:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  input[type=checkbox]:checked ~ div:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  input[type=checkbox]:checked ~ div:nth-child(2) {
    opacity: 0;
  }

  input[type=checkbox]:checked ~ div:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -6px);
  }
}

@media screen and (max-width: 539px) {
  *,
  *::before,
  *::after {
    size: 80%;
  }

  nav ul li a {
    transition: 1s ease-in;
    font-size: medium;
  }

  nav ul li a::after {
    transition: 1s ease-out;
  }

  /* Hero Styles */
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9C3848;
    color: #F4D58D;
    padding: 80px;
    text-align: center;
  }

  section.hero h1 {
    transition: 0.1s ease-in;
    font-size: 25px;
  }

  section.hero p {
    transition: 0.1s ease-in;
    font-size: 19px;
  }
}

@media screen and (max-width: 425px) {
  /* Additional styles for smaller screens */
  .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    background-color: #F4D58D;
    min-width: 8em;
    border: #8D0801 2px solid;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }
}

/* Make everything flush to the screen */
*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
transition: all .2s;
}

/* Style the html  */
 html {
  box-sizing: border-box; 
  }

/* Style the Body */
 body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 3.8rem;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #001427;
            }

/* Hide the checkbox trigger  */
input[type=checkbox] {
    display: none;
  }

/* Hamburger munu styles */
.menu-icon {
  display: none; /* Hide by default */
  cursor: pointer;
  margin-right: 20px; /* Adjust as needed */
}

.menu {
  display: none; /* Hide by default */
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative;
}

.menu.active {
  display: flex; /* Show when active */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
}

/* Dropdown Menu Styles */
.dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  background-color: #F4D58D;
  min-width: 8em;
  border: #8D0801 2px solid;
  margin: 0;
  padding: 0;
  margin-top: .6rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Hamburger Menu Animation */
#menu-toggle:checked + .menu {
  display: flex; /* Show when checked */
}

#menu-toggle:checked + .menu-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked + .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Navigation Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001427;
  list-style: none;
  padding: 20px;
}

/* Style the logo */
.logo {
  font-size: 20px;
}

.logo a {
  color: #F4D58D;
  text-decoration: none;
}

/* Style the nav links */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #F4D58D;
  text-decoration: none;
}

.nav-links a:hover {
  color: #9C3848;
}

/* Style the dropdown */
.dropdown {
    position: relative;
  }
  
  @media screen and (min-width: 768px) {
    .dropdown-content {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      background-color: #F4D58D;
      min-width: 8em;
      border: #8D0801 2px solid;
      margin: 0;
      padding: 0;
      margin-top: 1.38rem;
  } 
  }
  
  .dropdown-content li {
    margin: 0;
    list-style-type: none;
  }
  
  .dropdown-content a {
    color: #001427;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
  }
  
  
/* Hero Styles */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9C3848;
  color: #F4D58D;
  padding: 120px;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #001427;
  color: #F4D58D;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #8D0801;
}

/* Features Styles */

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F4D58D;
  padding: 150px;
  min-width: 30%;
}

.feature {
  flex-basis: 200px;
  min-width: 30%;
  margin: 20px;
  text-align: center;
}

.feature p.warning_text {
  padding-top: 6%;
  font-size: .7em;
}

.feature img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feature p {
  font-size: 20px;
}


/* Footer Styles */

footer {
  position: absolute;
  background-color: #001427;
  color: #F4D58D;
  text-align: center;
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}

